[project]
	description = ping your friends right away!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aazsoft
[access "refs/for/refs/*"]
	read = group user/aazsoft
	push = group user/aazsoft
	label-Code-Review = -2..+2 group user/aazsoft
	label-Verified = -1..+1 group user/aazsoft
	rebase = group user/aazsoft
	removeReviewer = group user/aazsoft
	submit = group user/aazsoft
[access "refs/heads/*"]
	read = group user/aazsoft
	create = group user/aazsoft
	push = +force group user/aazsoft
	pushMerge = group user/aazsoft
[access "refs/tags/*"]
	push = +force group user/aazsoft
	pushTag = group user/aazsoft
	pushSignedTag = group user/aazsoft
